section{
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 40px 50px;
}

.about-section {
    background-color: #f9f9f9;
            
}
section h1{
    color: #181823;
    font-size: 1.8rem;
}
        
.about-container {
    margin: 10px;
    display: flex;
    margin: 40px auto 0;
    gap: 40px;
    align-items: center;
}

.about-image {
    flex: 0.8;
}
        
.about-image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
        
.about-text {
    flex: 1.2;
}
        
.about-text h2 {
    color: #00425A;
    margin-bottom: 20px;
    font-size: 1.5rem;
}
        
.about-text p {
    margin-bottom: 15px;
    line-height: 1.6;
}
        
.about-text ul {
    margin: 20px 0;
    padding-left: 20px;
}
        
.about-text li {
    margin-bottom: 10px;
    list-style-type: none;
    position: relative;
    padding-left: 30px;
}
        
.about-text li i {
    color: #FC7300;
    position: absolute;
    left: 0;
    top: 4px;
}
        
@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }
            
    .about-image, .about-text {
        flex: none;
        width: 100%;
    }
}
/* aplica para 320 tambien */
@media screen and (max-width: 480px) {
    section{
    padding: 30px 25px;
}
}